body{
    background-color: #D8D8D8;
}
.container{
    margin-top: 100px;
    background-color: #fff;
    /* background-color: #395464; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 15px;
    margin-left: 190px;
   
}

#form-height{
    height: 750px;
}
.margin{
    padding: 20px;
}
#back-img{
    background-color: #161616 ;
    background-size: cover;
    color: #F0D442;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    line-height: 65px;
    padding-top: 40px;
}
h2{
    margin-top: 20px;
    font-weight: 700px;
    font-weight: bold;
}
#signup_form{
    font-weight: 200;
}

.form-group{
    margin-top: 10px;
}
.form-width{
    margin-top: 40px;
    width: 100%;
}
.red{
    color: red;
    font-style: italic;
    font-size: 12px;
}
.google{
    border: 1px solid;
}
.account{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
p a{
    text-decoration: none;
    color: #8fcbf3;
    margin-top: 10px;
}
#g-1{
    color: #4285F4;
}
#o-1{
    color: #DB4437;
}
#o-2{
    color: #F4B400;
}
#g-2{
    color: #4285F4;
}
#l{
    color: #0F9D58;
}
#e{
    color: red;
}
#smart{
    color: #fff;
    font-size: 60px;
    font-weight: 500;
}
#para{
    font-size: 20px;
    font-weight: 400;
}
#para-1{
    font-size: 15px;
    font-weight: 100;
}
#para-0{
    font-weight: 500;
   
}
.error {
    color: red;
    font-size: 0.8rem;
}

